<% unless session['me'] %>
<form method='POST'>
<input type='text' name='player_name' placeholder="What's your name?"> 
</form>
<% end %>
<% if @game_started %>
  There are <%= @count %> players connected<br>
<% end %>

<% if @count >= 1 %>
  Player 1: <%= @player1  %><br>
<% end %>

<% if @count == 2 %>
  Player 2: <%= @player2 %><br>
<% end %>
