<form method='POST'>
<input type='text' name='player_name' placeholder="What's your name?"> 
</form>
<% if GAME.players.any? %>
  There are <%= "#{GAME.players.count}" %> players connected<br>
<% end %>

<% if GAME.players.count >= 1 %>
  Player 1: <%= "#{GAME.players.first.name}" %><br>
<% end %>

<% if GAME.players.count == 2 %>
  Player 2: <%= "#{GAME.players.last.name}" %><br>
<% end %>
